<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
               class="sidenav"
               fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <button mat-icon-button
            [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button
          *ngFor="let theme of themes"
          mat-menu-item
          [ngClass]="theme.class"
          (click)="themeSelected.emit(theme)"
      >
        <mat-icon color="accent">format_color_fill</mat-icon>
        <span>{{theme.name | titlecase}}</span>
      </button>
    </mat-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ngrx-metareducers</span>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
